TG_API_ID=
TG_API_HASH=
TG_CHANNELS=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
SOL_PRIVATE_KEY=
BUY_SOL=0.5
SLIPPAGE=15
PRIORITY_FEE=0.001
POOL=auto
AUTOSELL=false
TP_MULT=2.0
SL_MULT=0.5
PUMPPORTAL_API_KEY=
GMGN_DEEP_LINK=https://gmgn.ai/sol/token
SOL_RPC_URL=https://api.mainnet-beta.solana.com